
@model reviewIt.Core.ViewModels.AdvertisementViewModel
@{
    ViewBag.Title = "Edit";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<br/>
<h3 style="text-align:center">Edit Post</h3>
<br/>
@using (Html.BeginForm("Edit", "Advertisement", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <h2 class="form-signin-heading text-center"></h2>
    @Html.ValidationSummary()
    @Html.HiddenFor(m=>m.AdvertiseID)
        @Html.HiddenFor(m=>m.CreatedDate)
    <div class="col-lg-4 ">
        @Html.ActionLink("Back", "IndividualBusinessProfile", "BusinessProfile", new { user = User.Identity.Name }, new { @class = "btn btn-success" })
    </div>
    <div class="col-lg-5 ">
        <div class="form-group">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @placeholder = "Title" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>

        <div class="form-group">
            @Html.TextAreaFor(m => m.About, new { @class = "form-control", @placeholder = "About" })
            @Html.ValidationMessageFor(m => m.About)
        </div>

        <div class="editor-field">
            <input type="file" name="File" id="file" />
            <br />
            <img id="imgPreview" alt="" src="" width="300" height="250" />
        </div>
        <br /><br />
        <div class="form-group center">
            <input type="submit" class="btn  btn-primary " value="Submit" />
        </div>
     </div>
}

<script>

    $(document).ready(function () {
        $('#file').on('change', function () {
            // alert("ddd");
            $("img#imgPreview").attr('src', ''); //First remove the image src if already selected
            //To check if uploaded file is image only..
            var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
            if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Only image files are allowed!");
                return false;
            }


            //To check 'FileReader' is supported by browser or not..
            if (typeof (FileReader) != 'undefined') {
                var frImage = new FileReader();
                frImage.onload = function (e) {
                    $("img#imgPreview").attr('src', e.target.result);
                }
                frImage.readAsDataURL($(this)[0].files[0]);
            } else {
                alert("Your browser does not support FileReader!");
            }
        });

    });

</script>