@model IEnumerable<reviewIt.Core.ViewModels.AdvertisementViewModel>
@{
    ViewBag.Title = "IndexforAll";
}
<br/>
<h3 style="text-align:center">Latest Advertisements</h3>
<br/>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <div id="advertise">
            <div class="row">
                <div class="col-lg-1" style="padding-right:0px;width:75px;">
                    <img src="@Url.Content("~/Uploads/"+@item.BusinessImage)" style=" height:50px;width:50px;border:1px solid #021a40;" alt="" />
                </div>
                <div class="col-lg-6" style="padding:0px;">
                    <h5 style="color:blue;">
                        <a style="color:blue" href='@Url.Action("IndividualBusinessProfile", "BusinessProfile", new { user = item.BusinessName }, null)'> @Html.DisplayFor(model => item.BusinessName)</a>
                    </h5>
                    @Html.DisplayFor(model => item.CreatedDate)
                </div>              
              </div>
               <br/>
            <div>
                Title:  @Html.DisplayFor(model => item.Title)
            </div>
            <div>
                About:  @Html.DisplayFor(model => item.About)
            </div>
            <div>
                <img src="@Url.Content("~/Uploads/"+@item.FilePath)" style=" height:300px;width:400px;" alt="" />
            </div>
        </div>
        <br />
    }
}

<style>
      #advertise {
        box-shadow:  #f7f9f9;
        padding: 20px;
        width: initial;
        background-color: rgb(255,255,255);
    }


</style>